@import url(./font.css);
@import url(./reset.css);
@import url(./common.css);

.header{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;left: 0;
    background: #fff;
    z-index: 9;
}
.header .inner0{
    display: flex;
    align-items: center;

}
.header .logo a{
    display: block;
    width: 223px;
    height: 35px;
    background-position: -105px 0px;
    background-size: 328px 205px;

}

/* gnb */
.gnb-area{
    width: 100%;
    margin-left: 29px;
}
.menu-area{
    height: 100%;
    float: left;
}
.menu-area .menu-list{
    float: left;
    padding: 0 10px;
    font-size: 17px;
    /* line-height: 32px; */
    letter-spacing: -0.36px;
}
.menu-area .menu-list .link-menu{
    display: block;
    width: 100%;
    height: 100%;
}
.menu-area .menu-list .link-menu:hover{ 
    border-bottom: 1px solid;
}
.menu-list .hide-menu::before{
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 164px;
    top: 0;
    left: 0;
    z-index: -1;
}
.menu-list .hide-menu{
    display: none;
    position: absolute;
    /* width: 100%; */
    /* height: 200px; */
    top: 64px;
    /* left: 0; */
    padding: 15px 0;
    z-index: 9;
}
.menu-list .hide-menu.active{display: block;}
.menu-list .hide-menu a{
    display: block;
    width: 100%;
    padding: 0 13px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.36px;
}
.menu-list .hide-menu a:hover{
    border-bottom: 1px solid;
}
.login-list .link-menu:hover{
    border-bottom: 1px solid;
}
.login-area{
    float: right;
    height: 100%;
}
.login-area .login-list{
    float: left;
    padding: 0 10px;
    font-size: 17px;
    letter-spacing: -0.36px;
}



/* footer */
footer{
    background-color: #f2f2f2;
}
footer .inner0{
    padding: 25px 104px 25px 98px;
    line-height: 64px;
}
footer .footer-logo{display: inline-block;}
footer .footer-logo a{
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.32px;
}
footer .information{
    font-size: 14px;
    letter-spacing: -0.28px;
    color: #909090;
    margin-left: 30px;
}
footer .tab-area{
    float: right;
    position: relative;
}
footer .tab-area .button{
    position: relative;
    width: 280px;
    line-height: 42px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid;
}
footer .tab-area .tab-area::after{ /* 화살표 안나옴 */
    content: '';
    background-position: -122px -93px;
    background-size: 328px 205px;
    width: 10px;
    height: 6px;
    z-index: 99;
}
/* footer .tab-area .button::after{
    content: '';
    background: url(../imges/icon/ico_arrow_down.png) no-repeat;
    width: 10px;
    height: 6px;
    z-index: 99;
} */
.tab-area .tab-item{
    font-size: 18px;
    padding: 0 12px;

}
.tab-area .tab-list{
    display: none;
    position: absolute;
    bottom: 43px;
    background: #fff;
    z-index: 9;
    width: 100%;
}
/* 자바 */
.tab-area .tab-list.on{
    display: block;
}
.tab-area .tab-item a{
    display: block;
}
.tab-area .tab-item:hover {
    background-color: #f2f2f2;
}
